 /*html{
     background-color: black;
 }
 
 header{
            text-align: center;
            /*text-align: justify;*/
            /*border-radius: 8px;*/
        /* } */

/*h2{
    font-style: italic;
    border: 1px solid black;
    /*border-width: ;
    border-style: ;
    border-color: ;
    border-bottom-width: ;
    */

/*}

header img{
    width: 50;
}*/

/* html { */
        /* font-size: 16px;  */
        /*50% , another way to do it*/
        /* } */